// Bars
.bar {
  box-sizing: border-box;
  text-shadow: 1px 1px #000;
  color: #fff;
  width: 100%;
  border: 1px solid black;
  border-top: 0px;
  background-color: #1a1a1a;
  height: $barHeight;
}

.bar-text {
  z-index: 30;
  position: absolute;
  margin: auto;
  width: 200px;
  line-height: $barHeight;
}

.bar-svg {
  z-index: 20;
  position: relative;
  top: -$barHeight;
  text-align: left;
  height: calc(#{$barHeight} - 1px);
  &.enemy-bar {
    text-align: right;
  }
}

.bar-svg-changing {
  z-index: 25;
  position: relative;
  text-align: left;
  height: $barHeight;
  &.enemy-bar {
    text-align: right;
  }
}
