html {
  font-family: 'VT323', monospace;
  font-size: 20px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing:border-box
}

.core {
  text-align: center;
}

.all-fighters {
  width: 100%;
  text-align: center;
}
