@import url('https://fonts.googleapis.com/css?family=VT323');

$fighterFrameWidth: 200px;
$barHeight: 20px;

html {
  font-family: 'VT323', monospace;
  font-size: 20px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.core {
  text-align: center;
}

.all-fighters {
  width: 100%;
}

.allies-container {
  margin: auto;
  display: inline-block;
  width: $fighterFrameWidth;
}

.combat-log {
  text-align: center;
  min-width: 200px;
  vertical-align: top;
  display: inline-block;
  margin: 16px 32px;
}

.enemies-container {
  margin: auto;
  display: inline-block;
  width: $fighterFrameWidth;
}

.fighter-ally {
  text-align: center;
  margin: 8px 0;
}

.fighter-image {
  background-color: #c1e0f0;
  border: 1px solid black;
  width: $fighterFrameWidth;
  line-height: $fighterFrameWidth;
}

.bar {
  text-shadow: 1px 1px #000;
  color: #fff;
  width: 100%;
  border: 1px solid black;
  border-top: 0px;
  background-color: #1a1a1a;
}

.bar-text {
  position: absolute;
  margin: auto;
  width: 200px;
  line-height: $barHeight;
}

.bar-svg {
  text-align: left;
  height: $barHeight;
  &.enemy-bar {
    text-align: right;
  }
}
